body{
    background-position: top left;
    background-attachment: fixed;
    background-size: cover;
    margin: 0px;
}

input{
    height: 20px;
    border: 2px inset black;
    padding: 2px;
}

button{
    width: 150px;
    height: 48px;
    font-size: 30px;
    font-weight: bold;
}

.container{
    width: 80vw;
    margin: auto;
    min-width: 1000px;
}

#userName{
    width: 200px;
    display: block;
    margin-bottom: 10px;
}

#img{
    width: 200px;
    margin-bottom: 10px;
}

#movieName{
    width: 200px;
    margin-left: 10px;
}

#comment{
    width: 422px;
    display: block;
    margin-bottom:10px;
}

button{
    margin-bottom: 15px;
    background-color:orange;
}

#inputDiv{
    position: relative;
    margin-bottom: 100px;
    padding-top: 15px;
    
}
.newDiv {
    position: relative;
    height:200px;
    margin-bottom: 150px;
    background-color:cornflowerblue;
    border-radius: 15px;    
}

.displayImg{
    width: 150px;
    height: 150px;
    position: absolute;
    top: -75px;
    left: -75px;
    border-radius: 20px;
    box-shadow: 5px 5px 5px #000;
}
.displayPoster{
    width: 150px;
    height: 200px;
    position: absolute;
    top: -100px;
    right: 0px;
}
.displayUser{
    width: 300px;
    height: 50px;
    position: absolute;
    right: 0px;
    bottom: -25px;
    text-align: center;
    line-height: 50px;
    border: 2px;
    
    background-color:grey;
    color:black;
    font-size:20px;
    
    font-style: italic;
}
.displayComment{
    padding-top: 85px;
    margin-left: 15px;
    font-size:20px;
}
.displayTitle{
    position: absolute;
    right: 180px;
    top: -70px;
}